.page.theme_light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color:#353430;
  --backgroung-image: url(../images/cover-image-light.png);
}

.theme_light .rec {
  display: none;
}

.theme_light .header-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color:#353430;
    --backgroung-image: url(../images/cover-image-light.png);
  }
  .rec {
    display: none;
  }
  
  .header-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }
}  


@media (min-width: 1024px) {
  .header-title {
    text-shadow: 4px 4px 0 #FF0070;
  }
  .footer-title {
    text-shadow: 4px 4px 0 #FF0070;
  }
}

