.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ШАПКА */

.header {
  min-block-size: 100vh;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

/*Кнопки навигации*/

.header-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header-menu-button {
  padding: 0 13px;
  color: var(--btn-color);
  text-align: center;
  border: none;
  background: transparent;
}

/*Действия на кнопки*/

.header-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-color);
}

.header-menu-button:focus {
  outline: none;
}

.header-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

/*РЕС*/

.rec {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.rec::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

/* Стили углов*/

.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

/*Заголовок шапки*/

.header-title {
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.header-text {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
}

/*Дизайн заголовков всех секций*/

.question-block-title {
  color: var(--btn-color);
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  font-size: var(--font-size);
}

/*Дизайн текста всех секций*/

.question-block-answer-text {
  font-size: var(--font-size);
  color: var(--text-color);
}

/*Ссылки*/

.question-block-answer-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question-block-answer-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.question-block-answer-link:focus {
  outline: none;
}

.question-block-answer-link:focus-visible {
  border: 1px solid var(--text-color);
}

/*Первая секция с вопросами*/

.question-block-one {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}

.question-block-answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-block-answer p:first-of-type {
  padding-block-end: 10px;
}

/*Вторая секция с вопросами*/

.question-block-two {
  padding-block-start: 80px;
  padding-block-end: 80px;
  margin: 0 20px;
}

.question-block-answer-two-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-block-start: 20px;
}
.question-block-title-two {
  max-inline-size: 315px;
}

.question-block-answer-title-two {
  margin-block-end: 10px;
}

/*Третья секция с вопросами*/

.question-block-fhree {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
  margin: 0 20px;
}

.question-block-answer-subtitle {
  font-weight: 400;
}

.question-block-answer-fhree {
  display: grid;
  gap: 20px;
}

.question-block-answer-text-fhree {
  padding-block-start: 10px;
}

/*Секция с картинками*/

.question-block-image {
  padding-block-end: 60px;
}

.question-block-title-image {
  margin: 0 20px 20px 20px;
}

.question-block-image-container {
  margin: 0 20px;
  display: grid;
  gap: 20px;
  grid-template-areas: inherit;
}

.question-block-image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.question-block-image-item:first-of-type {
  grid-column: 1 / 3;
}

.question-block-image-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.question-block-image-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.question-block-image-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.question-block-image-item:last-of-type {
  grid-column: 2 / 4;
}

/*Подвал*/

.footer {
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
  
}

/*Медиа запрос под 768px*/

@media (max-width:768px) {
  .header-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header-text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .question-block-one {

    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end:20px;
  }

  .question-block-answer-two-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }

  .question-block-title-two {
    max-inline-size: 236px;
  }
  
  .question-block-fhree {
    display: grid;
    grid-template-columns: 35% 65%;
    padding-block-end: 80px;
  }  
 
  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

/*Медиа запрос под 375px*/

@media (max-width:560px) {
 .header {
  padding: 10px;
}

.header-title {
  margin-left: 0px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header-text {
  max-inline-size: 355px;
  max-block-size: 117px;
}  

.question-block-one {
  margin: 0px 10px;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question-block-two {
  margin: 0 10px;
  padding-block-start: 50px;
  padding-inline-end: 0 ;
  padding-block-end: 50px;
}

.question-block-title-two {
  min-inline-size: 355px;
}

.question-block-answer-two-container {
  display: flex;
  flex-direction: column;
}

.question-block-fhree {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-end: 50px;
}

.question-block-image {
  padding: 0 0 40px 0;
}

.question-block-title-image {
  margin: 0 10px 10px 10px;
}

.question-block-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
} 

.footer-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .rec {
    margin: 10px;
  }
  
  .frame::before {
    margin: 10px;
  }
  
  .frame::after {
    block-size: 25px;
    margin: 10px;
  }
}


